.filter {
  position: absolute;
  z-index: 1000;
  bottom: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--second-color);
  height: 32px;
  border: var(--first-color) solid 2px;
  border-radius: 40px;
  padding: 8px;
}

.filterSelect {
  border: none;

}

@media screen and (max-height: 800px) {
  .filter{
    bottom: 5vh;
    height: 24px;
    left: 5px;
  }
}

@media screen and (max-height: 800px) and (max-width: 480px) {
  .filter{
    max-width: 150px;
    bottom: 10vh;
  }
}