.map {
  height: 90vh;
  width: 100%;
}

.shopLabel {
  font-size: 10px;
  font-weight: 900;
  color: black;
  background-color: rgba(255, 255, 255, 0);
  padding: 2px 5px;
  border-radius: 5px;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.routeButtonContainer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.routeButton {
  background-color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

@media screen and (max-height: 800px) {
  .routeButtonContainer {
    bottom: 5vh;
  }
}